.head{
  width: auto;
  height: 40px;
  background-color: burlywood;
  text-align: center;

}
.arrow{
  width: 50px;
  height: 10px;
}
.button1{
    position: absolute;
    margin-top:40px;
    margin-left: 12%;
    border-radius: 999px;
    width:170px;
    height:170px;
   
  }

  .button2{
    position: absolute;
    margin-top:40px;
    margin-left: 37%;
    border-radius: 999px;
    width:170px;
    height:170px;
  }

  .button3{
    position: absolute;
    margin-top:40px;
    margin-left: 62%;
    border-radius: 999px;
    width:170px;
    height:170px;
  }

  .button4{
    position: absolute;
    margin-top:250px;
    margin-left: 25%;
    border-radius: 999px;
    width:170px;
    height:170px;
  }

  .button5{
    position: absolute;
    margin-top:250px;
    margin-left: 50%;
    border-radius: 999px;
    width:170px;
    height:170px;
   
  }



 